.back-btn-posts {
    width:50px;
    height: 50px;
    color : white;
    border-radius: 50%;
    background-color: #808080;
    position: relative;
    right: -40vw;
}

.carousel-root {
    width :40vw;
    height: fit-content;
}
.carousel-slider {
    position: relative;
    display: flex;
}
.post {
    margin:auto;
}
.carousel-custom-arr {
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(96,165,250);
    position: relative;
    align-self: center;
}

@media screen and (max-width:500px) {
    .carousel-root{
        width:90vw;
    }
    .carousel-custom-arr {
        width: 30px;
        height: 30px;
    }
}