.legend-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 20px;
    height: 20px;
    border-radius: 50%;
    background-color: aquamarine;
    margin-right: 2px;
    margin-bottom: 2px;
    font-size: 12px;
}

@media screen and (max-width:500px){
    .legend-code {
        width : 13px;
        height: 13px;
        font-size: 10px;
    }
}